body{
    color: chocolate;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.points{
    color: blueviolet;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}